    <div class="main_content">
                <form class="form_cont">
                    <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">
                </form>
            </div>
            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Sunday</p>
                    <p class="today_date" id="today_data">13 Aug</p>
                </div>
                <div class="main_layer">
                    <p class="city_name" id="city_name">HEllo Output</p>
                     <div class="middle_layer data_hide">
                        <p class="temp" id="temp"><span>0</span><sup>C</sup></p>
                        <p id="temp_status"> <i class=" fa fa-cloud"></i> </p>
                </div>
                </div>
            </div>